<div class="container d-flex align-items-center justify-content-center ">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-10">
        <div class="card"> 
            <div class="card-body p-5" >
                
            <div class="text-center">
                <a href="" style="text-decoration: none; color: #00a082; font-size: 18px; ">
                <img  src="assets\logos\index.png" width="100" height="100"> 
                </a> 
    
                <h4 class="text-dark mb-5">Registracija</h4>
            </div>  
            <form (ngSubmit)="onSubmit()" [formGroup]="form">
                <div class="row"> 
 
                    <div class="input-group mb-3">
                        <input class="form-control" type="text" formControlName="firstName" placeholder="Ime">
                        </div>
                        <div class="input-group mb-3">
                        <input class="form-control" type="text" formControlName="lastName" placeholder="Prezime">
                        </div>
                        <div class="input-group mb-3">
                        <input class="form-control" type="text"  formControlName="username"placeholder="Korisničko ime">
                        </div>
                        <div class="input-group mb-3">
                        <input class="form-control" type="text" formControlName="email" placeholder="Email">
                        </div>
                        <div class="input-group mb-3">
                        <input class="form-control" type="text" formControlName="phoneNumber" placeholder="Broj telefona">
                        </div> 
                        <div class="input-group mb-3"> 
                            <label *ngIf="address != ''">Adresa: {{address}}</label>
                            <agm-map [zoom]="13" [latitude]="lat" [longitude]="lng">
                                <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
                            </agm-map> 
                        </div>
                        <div class="input-group mb-3"> 
                            <input class="form-control" type="password" formControlName="password" placeholder="Lozinka" title="Mora da sadži najmanje 8 karaktera, malo, veliko slovo, cifru i specijalni karakter.">   
                        </div>
                        <div class="input-group mb-4">
                            <input class="form-control" type="password" formControlName="repeatedPassword" placeholder="Ponovite lozinku">
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="d-flex my-2 justify-content-between">
                            <div class="d-inline-block mr-3"> 
                            </div>
            
                            </div>
            
                            <button type="submit" class="btn btn-lg btn-block mb-4 btn-green" [disabled]="!form.valid">Registruj se</button>
            
                        </div>
                </div>
            </form> 
            </div>
        </div>
        </div>
    </div>
    </div>  